body {
	font-family: Helvetica, sans-serif;
	background-color: #F0E68C;
	width: 70%;
	margin: auto;
	margin-top: 5px;
}

.header {
	display: flex;
	flex-wrap: nowrap;
	padding-left: 10px;
	padding-right: 10px;
	align-items: center;
	background-color: #DAA520;
	margin-bottom: 5px;
}

.header img {
	height: 40px;
	width: auto;
}

.header h1 {
	flex-grow: 1;
}

h1,
h2 {
	background-color: #DAA520;
	text-align: center;
}

.img-container {
	text-align: center;
}

img {
	height: 400px;
	width: auto;
}

p {
	text-align: center;
}

ul,
ol {
	padding: 15px;
	background-color: #DAA520;
	border-radius: 15px 35px;
	list-style-type: square;
	list-style-position: inside;
}

ol {
	list-style-type: upper-roman;
}
